"""{{ class_name }} use case."""


class {{ class_name }}UseCase:
    """{{ class_name }} async use case."""

    async def execute(self) -> None:
        """Execute the use case."""
        raise NotImplementedError
