"""Tests for {{ class_name }}."""

from {{ project.python_package }}.infrastructure.helpers.{{ module_name }}.{{ module_name }} import {{ class_name }}


def test_{{ module_name }}_instantiation() -> None:
    helper = {{ class_name }}()
    assert helper is not None
