"""Tests for {{ class_name }} domain model."""

from {{ project.python_package }}.domain.model.{{ module_name }} import {{ class_name }}


def test_{{ module_name }}_can_be_instantiated() -> None:
    instance = {{ class_name }}()
    assert instance is not None
